<div *ngIf="restaurante" class="restaurante-box">
    <h1>Restaurante: {{restaurante.nombre}}</h1>
    <div class="image">
        <img src="http://localhost:8888/api-rest/uploads/{{restaurante.imagen}}" *ngIf="restaurante.imagen && restaurante.imagen!=='null'" class="imagen-restaurante-detalle"/>
    </div>
    <div class="restaurante-detalle-data">
        <p class="precio">
            <span [ngSwitch]="restaurante.precio">
                <span *ngSwitchCase="'bajo'">Entre $10.00 Y $70.00</span>
                <span *ngSwitchCase="'normal'">Entre $71.00 Y $299.00</span>
                <span *ngSwitchCase="'alto'">Más de $300.00</span>
            </span>
        </p>
        <p class="descripcion">
            {{restaurante.descripcion}}
        </p>
        <p class="direccion">
            {{restaurante.direccion}}
        </p>
    </div>
</div>