<h1>{{tituloComponente}}</h1>

<ul id="restaurantes-list">
    <li class="loading" *ngIf="loading == 'show'">
        <img src="../../assets/images/loading.gif"/>
    </li>
    <li *ngFor="#restaurante of restaurantes" class="restaurantes-item">
        <div class="image">
            <img src="http://localhost:8888/api-rest/uploads/{{restaurante.imagen}}" *ngIf="restaurante.imagen && restaurante.imagen!=='null'"/>
        </div>
        <div class="data">
            <h4>{{restaurante.nombre}}</h4>
            <p>{{restaurante.direccion}}</p>
            <p>
                <a [routerLink]="['Restaurante', {id:restaurante.id}]" class="btn btn-ver">Ver</a>
                <a [routerLink]="['EditarRestaurante', {id:restaurante.id}]" class="btn btn-verde">Editar</a>
                <a (click)="onMostrarModalEliminar(restaurante.id)" class="btn btn-rojo">Eliminar</a>
            </p>
        </div>
        <div class="modal" *ngIf="mostrarModalEliminar && idRestauranteEliminar === restaurante.id">
            <p>
                ¿Estás seguro de eliminar el restaurante?
            </p>
            <a (click)="onEliminarRestaurante()" class="btn">Aceptar</a>
            <a (click)="onCancelarEliminar()" class="btn btn-rojo">Cancelar</a>
        </div>
        <div class="clearfix"></div>
    </li>
    <div class="clearfix"></div>
</ul>