<h1>{{tituloComponente}}</h1>
<form id="miFormulario" #miFormulario="ngForm" (ngSubmit)="onSubmit()">
    <label>Nombre</label>
    <p>
        <input type="text" #nombre="ngForm" ngControl="nombre" [(ngModel)]="restaurante.nombre" required minlength="5"/>
        <span *ngIf="!nombre.valid">No válido</span>
    </p>
    <label>Dirección</label>
    <p>
        <input type="text" #direccion="ngForm" ngControl="direccion" [(ngModel)]="restaurante.direccion" required/>
        <span *ngIf="!direccion.valid">No válido</span>
    </p>
    <label>Descripción</label>
    <p>
        <textarea #descripcion="ngForm" ngControl="descripcion" [(ngModel)]="restaurante.descripcion" required></textarea>
        <span *ngIf="!descripcion.valid">No válido</span>
    </p>
    <label>Precio</label>
    <p>
        <select (change)="callPrecio(precio.value)" #precio="ngForm"  [(ngModel)]="restaurante.precio" >
            <option value="bajo">Bajo</option>
            <option value="normal">Normal</option>
            <option value="alto">Alto</option>
        </select>
    </p>
   <input type="submit" value="Guardar" [disabled]="!miFormulario.form.valid" />
</form>