.clearfix{
    float: nonne;
    clear: both;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Helvetica, Arial;
}

#content{
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
}

header{
    padding: 15px;
    background: #1976D2;
}

header #logo{
    width: 50px;
    display: block;
    float: left;
}

header h1{
    margin: 0px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 55px;
    font-size: 25px;
    text-transform: uppercase;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    float: left;
}

.main{
    padding: 15px;
}

.main h1{
    color: #444;
}

#restaurantes-list{
    padding: 10px;
    margin: 0px;
}

.restaurantes-item{
    list-style: none;
    width: 100%;
    border-top: 1px solid #DDD;
    height: 100px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
}

.restaurantes-item .image{
    width: 105px;
    height: 105px;
    overflow: hidden;
    background: #CCC;
    float: left;
}

.restaurantes-item .image img{
    width: 105px;
    height: 105px;
}

.restaurantes-item .data{
    float: left;
    margin-left: 20px;
}

.restaurantes-item h4{
    color: #444;
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
}

.btn{
    font-size: 13px;
    border:1px solid #CCC;
    border-color: #1976D2;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #444;
    padding: 5px;
    text-decoration: none;
    color: white;
    background: #0074D9;
    cursor:pointer;
}

.btn-verde{
    background: #0A0;
    border-color: #59A600;
}

.btn-rojo {
    background: #E23237;
    border-color: #F54747;

}

.loading {
    list-style: none;
    text-decoration: none;
}

.loading {
    list-style: none;
    text-decoration: none;
}

.loading img{
    height: 80px;
}

.restaurante-box .precio {
    color:white;
    background:green;
    font-size: 14px;
    padding: 5px;
    box-shadow: 2px 2px green;
    text-align: center;
    width: 200px;
}

nav {
  width: 100%;
  background: #F2F2F2;
  height: 45px;
  font-size: 14px;
  border-bottom: 1px solid #DDD; 
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav ul li{
  margin: 0px;
  display: block;
  float: left;
  border-right: 1px solid white;
  height: 45px;
  line-height: 35px;
}

nav ul li a{
  display: block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #444;
  transition: all 100ms;
}

nav ul li a:hover{
   background: #1976D2;
   color: white;
   opacity: 0.8;
}

.modal{
    float: left;
    position: absolute;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20%;
}

#formularioRestaurante textarea{
    resize: none;
    height: 75px;
}

.mensaje-error {
    color:orangered;
}